<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>723679901345-pfasj1q295cooea8tobg15ephk4qn539.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723679901345-pfasj1q295cooea8tobg15ephk4qn539</string>
	<key>API_KEY</key>
	<string>AIzaSyAzA4F6oYVSA6ZcH3rdlQEY_wTogr4zMw4</string>
	<key>GCM_SENDER_ID</key>
	<string>723679901345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workshopChat</string>
	<key>PROJECT_ID</key>
	<string>workshop-sicae</string>
	<key>STORAGE_BUCKET</key>
	<string>workshop-sicae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723679901345:ios:575312115d7ce0e9</string>
	<key>DATABASE_URL</key>
	<string>https://workshop-sicae.firebaseio.com</string>
</dict>
</plist>